services:
  postgres:
    image: postgres:16
    container_name: my_postgres

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb

    ports:
      - "8002:5432"

    volumes:
      - db:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: my_redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "7002:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  db:
  redis_data: